@using brProject.Models;
@{
    ViewBag.Title = "BR Store";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-4">
        <ul>
            @foreach (CategoryDTO item in ViewBag.categories)
            {
                if (item.Parent == null)
                {
                    <li>
                        <a onclick="categoryClick(@item.Id)">@item.Name (@item.Products.Count())</a>
                        @if (item.Categories != null && item.Categories.Count > 0)
                        {
                        <ul>
                            @foreach (var i in item.Categories)
                            {
                                <li><a onclick="categoryClick(@i.Id)">@i.Name (@i.Products.Count())</a></li>
                            }
                        </ul>

                        }
                    </li>
                }

            }
        </ul>
    </div>
    <div id="productsId" class="col-md-8">

    </div>
</div>

@section scripts{
    <script id="itemTemplate" type="text/x-jQuery-tmpl">
        <div class="Item">
            @*<img src="BookPictures/${picture}" alt="" />*@
            <h2>${Name}</h2>
            @*<h3>${category}</h3>*@
            Price: ${formatPrice(Price)}
        </div>
    </script>
    <script src="~/Scripts/StoreIndex.js"></script>
    <script src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>
}

